.customers__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.customers__subcontainer {
  width: 1170px;
  margin: 50px 0 64px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.customers__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.customers__title h2 {
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 36px;
  line-height: 150px;
  text-transform: uppercase;
}

.customers__subtitle h5 {
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #86878B;
}

.customers__info {
  width: 1170px;
  margin-top: 83px;
  display: flex;
  justify-content: space-between;
}

.customers__story {
  width: 370px;
}

.customers__story_text {
  padding: 38px 0 37px 0;
  background: #E2E2E2;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
}

.customers__story_text h5 {
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #86878B;
}

.customers__story_text_triangle {
  width: 30px;
  height: 20px;
  background: #E2E2E2;
  position: relative;
  transform: rotate(-45deg);
  left: 50px;
  bottom: 14px;
}

.customers__person {
  margin-top: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.customers__img {}

.customers__person_data {
  width: 270px;
}

.customers__person_name {
  margin-bottom: 15px;
}

.customers__person_name h4 {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 24px;
  line-height: 54px;
  text-transform: capitalize;
}

.customers__person_title h5 {
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

  .customers__subcontainer {
    width: 992px;
    margin: 50px 0 60px 0;
  }

  .customers__title h2 {
    font-size: 24px;
    line-height: 120px;
  }

  .customers__subtitle h5 {
    font-size: 14px;
    line-height: 16px;
    text-align: center;
  }

  .customers__info {
    width: 992px;
    margin-top: 32px;
  }

  .customers__story {
    width: 315px;
  }

  .customers__story_text {
    padding: 50px 0;
  }

  .customers__story_text h5 {
    font-size: 14px;
    line-height: 16px;
  }

  .customers__story_text_triangle {
    width: 25px;
    height: 20px;
  }

  .customers__img img {
    width: 63px;
  }

  .customers__person_data {
    width: 230px;
  }

  .customers__person_name {
    margin-bottom: 9px;
  }

  .customers__person_name h4 {
    font-size: 18px;
    line-height: 36px;
  }

  .customers__person_title h5 {
    font-size: 14px;
    line-height: 16px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {


  .customers__subcontainer {
    width: 288px;
    margin: 0 0 30px 0;
  }

  .customers__title h2 {
    height: 120px;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .customers__subtitle h5 {
    font-size: 14px;
    line-height: 16px;
    text-align: center;
  }

  .customers__info {
    width: 288px;
    margin-top: 25px;
  }

  .customers__story {
    width: 288px;
  }

  .customers__story:not(:nth-of-type(2)) {
    display: none;
  }

  .customers__story_text {
    padding: 50px 0 50px 0;
  }

  .customers__story_text h5 {
    font-size: 14px;
    line-height: 16px;
  }

  .customers__story_text_triangle {
    width: 25px;
    height: 20px;
  }

  .customers__person {
    margin-top: 40px;
  }

  .customers__img {
    align-self: start;
  }

  .customers__img img {
    width: 57px;
  }

  .customers__person_data {
    width: 205px;
  }

  .customers__person_name {
    margin-bottom: 10px;
  }

  .customers__person_name h4 {
    font-size: 14px;
    line-height: 36px;
  }

  .customers__person_title {
    margin-bottom: 32px;
  }

  .customers__person_title h5 {
    font-size: 13px;
    line-height: 15px;
  }

  .customers__person_change {
    width: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .circle {
    width: 10px;
    height: 10px;
    border: 1px solid #86878B;
    border-radius: 50%;
    background: white;
  }

  .circle:nth-of-type(2) {
    background-color: #86878B;
  }
}